@font-face {
  font-family: "Cardinal";
  src: url("../fonts/Cardinal.ttf");
}

body{
  background-image: url("../images/parchemin.png");
  background-size: cover;
}

p{
  text-indent: 50px;
  padding-left: 75px;
  padding-right: 75px;
  padding-bottom: 40px;
  margin-left: 50px;
  font-size: 25px;
  font-family: Cardinal;
  color: #444444;
}

span{
  color : #850606;
  font-weight: bold;
}

div{
  margin-left: 25%;
  margin-top: 10%;
  height: auto;
  width: auto;
}

/*#debut{
  animation: fadein 4s;
  animation-play-state: paused;
}

#milieu{
  animation: fadein 12s;
  animation-play-state: paused;
}*/

/*#fin{
  animation: fadein 20s;
  animation-play-state: paused;
}*/

/*@keyframes fadein {
  0%{opacity: 0;}
  50%{opacity: 0.5}
  100%{opacity: 1;}
}*/
